Package: emmiiso
Version: 0.6
Section: system
Priority: optional
Architecture: i386 amd64 source
Depends: yad
Installed-Size: 100
Maintainer: Sidnei Weber <sidnei.weber@gmail.com>
Description: Programa para gravação de imagem ISO em pendrives.
